USE [master]
GO
/****** Object:  Database [dbFujitsu]    Script Date: 01/04/2024 13:29:53 ******/
CREATE DATABASE [dbFujitsu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbFujitsu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbFujitsu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbFujitsu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbFujitsu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbFujitsu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbFujitsu]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/04/2024 13:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_CITY]    Script Date: 01/04/2024 13:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_CITY](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Province] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
 CONSTRAINT [PK_TB_M_CITY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_M_SUPPLIER]    Script Date: 01/04/2024 13:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SUPPLIER](
	[SUPPLIER_CODE] [varchar](10) NOT NULL,
	[SUPPLIER_NAME] [varchar](50) NULL,
	[ADDRESS] [varchar](100) NULL,
	[PROVINCE] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[PIC] [varchar](30) NULL,
 CONSTRAINT [PK_TB_M_SUPPLIER_SUPPLIER_CODE] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_ORDER_H]    Script Date: 01/04/2024 13:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ORDER_H](
	[ORDER_NO] [varchar](20) NOT NULL,
	[ORDER_DATE] [date] NULL,
	[SUPPLIER_CODE] [varchar](10) NULL,
	[AMOUNT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_TB_R_ORDER_H_ORDER_NO] PRIMARY KEY CLUSTERED 
(
	[ORDER_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240401041856_addMasterCity', N'8.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240401042125_renametable', N'8.0.3')
GO
SET IDENTITY_INSERT [dbo].[TB_M_CITY] ON 

INSERT [dbo].[TB_M_CITY] ([Id], [Province], [City]) VALUES (1, N'DKI Jakarta', N'Jakarta Barat')
INSERT [dbo].[TB_M_CITY] ([Id], [Province], [City]) VALUES (2, N'DKI Jakarta', N'Jakarta Pusat')
INSERT [dbo].[TB_M_CITY] ([Id], [Province], [City]) VALUES (3, N'DKI Jakarta', N'Jakarta Selatan')
SET IDENTITY_INSERT [dbo].[TB_M_CITY] OFF
GO
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'AB', N'PT Aneka Besi', N'Jln Sudirman', N'DKI Jakarta', N'Jakarta Pusat', N'Mr. Amir')
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'DG', N'PT Diesel Guna', N'Jln Setiabudi', N'Jawa Barat', N'Bandung', N'Mrs Indah')
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'KL', N'PT Kriya Lestari', N'Jln Melati', N'Jawa Tengah', N'Solo', N'Mrs. Safitri')
GO
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-001', CAST(N'2019-01-01' AS Date), N'AB', CAST(150000000 AS Numeric(18, 0)))
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-002', CAST(N'2019-01-04' AS Date), N'DG', CAST(250000000 AS Numeric(18, 0)))
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-003', CAST(N'2019-01-05' AS Date), N'KL', CAST(35000000 AS Numeric(18, 0)))
GO
USE [master]
GO
